@font-face {
  font-family: "Cyberpunk";
  src: url("../fonts/CyberwayRiders-lg97d.ttf") format("truetype"); /* adjust the font file format and path */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Swansea";
  src: url("../fonts/Swansea-q3pd.ttf") format("truetype"); /* adjust the font file format and path */
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
  padding: 0;
  background-image: url(../image/cyberpunk-bg.jpg);
  background-position: center;
  background-size: cover;
  font-family: Swansea;
  font-weight: 600;
}
sticky-top {
  z-index: 1000;
  position: sticky;
  top: 0;
}
.navbar-toggler {
  animation: continuousColorChange 5s linear infinite;
}
.container {
  margin-left: 8px;
  margin-right: 8px;
}
.progress {
  width: 100%;
  height: 100%;
}
td {
  text-align: center;
}
.tr-title {
  text-align: center;
}
table.table tbody tr td.no-padding {
  padding: 15px;
}
.add-btn {
  width: 25px;
  height: 25px;
}
.btn-edit {
  width: 20px;
  height: 20px;
}
.btn-del {
  width: 20px;
  height: 20px;
}
.search-btn {
  width: 25px;
  height: 25px;
}
.form-control {
  margin-left: 18px;
  margin-right: 10px;

  font-family: Swansea;
  font-weight: 600;
  border-bottom: 2px solid rgb(0, 255, 213);
  border-top: 2px solid rgb(0, 184, 255);
  border-radius: 2px solid;
}
.form-control:focus {
  box-shadow: 3px 3px 13px #00ff9f;
  border: 1px solid #00ff9d;
}
.form-check-input {
  border: #000000 solid 1px;
}
.form-check-input:checked {
  background-color: #00ff9d;
  border-color: #00ff9f;
}

.form-check-input:checked + .form-check-label {
  color: #00ff9f;
}
.custom-btn {
  background-color: rgb(255, 238, 0);
  font-family: Swansea;
  font-weight: 600;
}
.custom-btn:hover {
  background-color: rgba(230, 215, 0, 0.829);
  font-family: Swansea;
  font-weight: 600;
}
.custom-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.anime-img {
  width: 5%;
  height: 5%;
  float: right;
  margin-right: 9px;
}
.table.table thead th.custom-table-head {
  background: linear-gradient(180deg, #e5ff00, #cfe600, #00fff2);
  border-top: 2px solid rgba(251, 255, 0, 0.76);
  border-bottom: 2px solid rgb(0, 225, 255);
  border-radius: 2px;
  text-align: center;
}
.progress-bar {
  width: 100%;
  animation: continuousColorChangeBg 12s linear infinite;
  background: linear-gradient(90deg, #00e1f1, #00fff2);
  border-radius: 15px;
  border: 1px solid;
  height: 100%;
  max-height: 100%;
  position: relative;
}
.navbar-toggler {
  animation: continuousColorChangeBg 12s linear infinite;
}
.table-responsive {
  border-radius: 5px;
  overflow-x: auto;
}
.navbar-brand {
  font-family: Cyberpunk;
  color: rgb(0, 184, 255);
  font-size: 2.5em;
  font-weight: 700;
  animation: continuousColorChange 8s linear infinite; /* Apply the color change animation */
}
.nav-link {
  margin-left: 20px;
  font-family: Cyberpunk;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
}
.custom-button-edit {
  background-color: rgba(0, 255, 234, 0.911);
}
.custom-button-edit:hover {
  background-color: rgba(0, 216, 198, 0.911);
}
.custom-button-add {
  background-color: rgb(255, 251, 0);
}
.custom-button-add:hover {
  background-color: rgb(226, 222, 0);
}
.custom-button-del {
  background-color: rgba(255, 251, 0, 0.76);
}
.custom-button-del:hover {
  background-color: rgba(219, 216, 0, 0.76);
}
.custom-button-arch {
  font-weight: 600;
  color: rgb(36, 36, 36);
  background-color: rgba(0, 35, 211, 0.76);
}
.custom-button-arch:hover {
  background-color: rgb(13, 53, 255);
}
@keyframes continuousColorChange {
  0% {
    color: rgb(0, 184, 255);
  }
  25% {
    color: rgb(0, 255, 213);
  }
  50% {
    color: rgb(86, 105, 255);
  }
  75% {
    color: #fdf500;
  }
  100% {
    color: rgb(214, 0, 255);
  }
}
@keyframes continuousColorChangeBg {
  0% {
    background-color: rgb(0, 255, 213);
  }
  100% {
    background-color: rgb(0, 184, 153);
  }
}
