@font-face {
  font-family: "Cyberpunk";
  src: url("../fonts/CyberwayRiders-lg97d.ttf") format("truetype"); /* adjust the font file format and path */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Swansea";
  src: url("../fonts/Swansea-q3pd.ttf") format("truetype"); /* adjust the font file format and path */
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
  padding: 0;
  background-position: center;
  background-size: cover;
  font-family: Swansea;
  font-weight: 600;
  cursor: url(../image/icons/cursor/cursor.cur), auto;
}
sticky-top {
  z-index: 1000;
  position: sticky;
  top: 0;
}
.assistant {
  text-align: right;
}

.user {
  text-align: left;
  font-size: larger;
}
.chat-box {
  padding: 10px;
  border: solid 1px;
  margin: 0px 16px 5px 16px;
}
.navbar-toggler {
  animation: continuousColorChange 5s linear infinite;
}
.container {
  margin-left: 8px;
  margin-right: 8px;
}
.progress {
  width: 100%;
  height: 100%;
}
td {
  text-align: center;
}
.tr-title {
  text-align: center;
}
table.table tbody tr td.no-padding {
  padding: 15px;
}
.send-icon {
  width: 15px;
  height: 15px;
}
.search-btn {
  width: 25px;
  height: 25px;
}
.span-title {
  margin-left: 6px;
  animation: continuousColorChange-open 5s linear infinite;
}
.btn-prompt-action {
  background-color: rgb(167, 166, 166);
  margin-left: 10px;
}
.btn-prompt-action:hover {
  background-color: #00ff9f;
}
.form-control {
  border-bottom: solid 4px;
  border-top: solid 2px;
  border-left: solid 2px;
  border-right: solid 4px;
  margin-left: 4px;
  font-family: Swansea;
  border-radius: 3px;
  height: 43px;
}
.form-control:focus {
  box-shadow: 3px 3px 13px #00ff9f;
  border: 1px solid #00ff9d;
  border-bottom: solid 4px;
  border-top: solid 2px;
  border-left: solid 2px;
  border-right: solid 4px;

  margin-left: 4px;
}
.custom-btn {
  background-color: #00ff9f;
  border-bottom: solid 4px;
  border-top: solid 2px;
  border-left: solid 2px;
  border-right: solid 4px;
  margin-left: 10px;
  margin-right: 4px;
}
.custom-btn:hover {
  background-color: #00d684;
  border-bottom: solid 4px;
  border-top: solid 2px;
  border-left: solid 2px;
  border-right: solid 4px;
  margin-right: 4px;
}
.custom-btn:active {
  transform: translate(2px, 2px);
}

.custom-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.anime-img {
  width: 5%;
  height: 5%;
  float: right;
  margin-right: 9px;
}
.table.table thead th.custom-table-head {
  background: linear-gradient(180deg, #00e1f1, #00fff2);
  border-bottom: 2 px solid;
  border-radius: 2px;
  text-align: center;
}
.progress-bar {
  width: 100%;
  background: linear-gradient(90deg, #00e1f1, #00fff2);
  border-radius: 15px;
  border: 1px solid;
  height: 100%;
  max-height: 100%;
  position: relative;
}
.navbar-toggler {
  background-color: #00ff9f;
  border-bottom: solid 4px black;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 4px black;
}
.navbar-toggler:focus {
  background-color: #00ce7f;
  box-shadow: 3px 3px 13px rgba(0, 255, 157, 0);
}
.navbar-toggler:active {
  transform: translate(2px, 2px);
}
.card-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.table-responsive {
  border-radius: 5px;
  overflow-x: auto;
  margin-top: 5px;
}
.navbar-brand {
  font-family: Cyberpunk;
  color: rgb(0, 184, 255);
  font-size: 2.5em;
  font-weight: 700;
  animation: continuousColorChange-title 6s linear infinite; /* Apply the color change animation */
}
.nav-link {
  margin-left: 20px;
  font-family: Cyberpunk;
  color: rgb(202, 202, 202);
  font-weight: 700;
  font-size: 20px;
}
.nav-link:hover {
  margin-left: 20px;
  font-family: Cyberpunk;
  color: #00ff9f;
  font-weight: 700;
  font-size: 20px;
}
.custom-send-btn {
  float: right;
  background-color: #00ff9f;
  border-bottom: solid 3px;
  border-top: solid 2px;
  border-left: solid 2px;
  border-right: solid 3px;
  border-radius: 6px;
  margin-left: 5px;
  height: 50%;
}
.custom-send-btn:hover {
  float: right;
  background-color: #00e08a;
  border-bottom: solid 3px;
  border-top: solid 2px;
  border-left: solid 2px;
  border-right: solid 3px;
  border-radius: 6px;
}
.custom-send-btn:active {
  transform: translate(2px, 2px);
}

.custom-button-arch {
  font-weight: 600;
  color: rgb(36, 36, 36);
  background-color: rgba(0, 35, 211, 0.76);
}
.custom-button-arch:hover {
  background-color: rgb(13, 53, 255);
}
@keyframes continuousColorChange-Bg {
  0% {
    background-color: rgb(202, 202, 202);
  }
  25% {
    background-color: #5bffc0;
  }
  50% {
    background-color: #00ff9d;
  }
  75% {
    background-color: #5bffc0;
  }
  100% {
    background-color: rgb(202, 202, 202);
  }
}
@keyframes continuousColorChange-open {
  0% {
    color: rgb(202, 202, 202);
  }
  25% {
    color: #5bffc0;
  }
  50% {
    color: #00ff9d;
  }
  75% {
    color: #5bffc0;
  }
  100% {
    color: rgb(202, 202, 202);
  }
}
@keyframes continuousColorChange-title {
  0% {
    color: #acfdde;
  }
  25% {
    color: #5bffc0;
  }
  50% {
    color: #00ff9d;
  }
  75% {
    color: #5bffc0;
  }
  100% {
    color: #acfdde;
  }
}
@keyframes continuousColorChangeBg {
  0% {
    background-color: #00ff9d;
  }
  100% {
    background-color: #00ca7d;
  }
}
