
@font-face {
    font-family: 'Cyberpunk';
    src: url('../fonts/CyberwayRiders-lg97d.ttf') format('truetype'); /* adjust the font file format and path */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Swansea';
    src: url('../fonts/Swansea-q3pd.ttf') format('truetype'); /* adjust the font file format and path */
    font-weight: normal;
    font-style: normal;
  }
body{
margin: auto;
padding: 0;
background-image: url(../image/city-5848267_1920.jpg);
background-position: center;
background-size: cover;
font-family: Swansea;
font-weight: 600;
}
sticky-top{
    z-index: 1000;
    position: sticky;
    top: 0;
  
}
.navbar-toggler{
  animation: continuousColorChange 5s linear infinite; 
}
.container{
    margin-left: 8px;
    margin-right: 8px;
}
.progress{
  width: 100%;
  height: 100%;
  
}
td th table{
}
table.table tbody tr td.no-padding {
  padding: 0;
  position: relative;
 
}
.form-control{
  margin-left:18px;
  margin-right:10px;
  margin-bottom: 10px;
  font-family: Swansea;
  font-weight: 600;
  border-bottom:2px solid rgb(183, 0, 219, 0.76) ;
  border-top: 2px solid rgb(0, 184, 255) ;
}
.form-control:focus{
  box-shadow: 3px 3px 13px rgb(255, 238, 0) ;
}
.custom-btn{
  background-color:rgb(255, 238, 0) ;
  font-family: Swansea;
  font-weight: 600;
}
.custom-btn:hover{
  background-color:rgba(230, 215, 0, 0.829) ;
  font-family: Swansea;
  font-weight: 600;
}
.custom-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.table.table thead th.custom-table-head {
  background-color: #FDF500;
  border-bottom:2px solid rgb(183, 0, 219, 0.76) ;
  border-top: 2px solid rgb(0, 184, 255) ;
border-radius: 2px;
}
.progress-bar{
 width: 100%;
 animation: continuousColorChangeBg 12s linear infinite;
 border-radius: 0;
border:1px solid;
height: 100%;
max-height: 100%;
}
.navbar-toggler{
  animation: continuousColorChangeBg 12s linear infinite;
}
.table-responsive{
  /* margin-left: 5px;
  margin-right: 10px; */
  border-radius: 5px;
overflow-x: auto;
}
.navbar-brand{
    font-family:Cyberpunk;
   color: rgb(0,184,255);
   font-size:2.5em;
   font-weight: 700;
   animation: continuousColorChange 8s linear infinite; /* Apply the color change animation */

}
.nav-link{
margin-left: 20px;
font-family:Cyberpunk;
color: rgb(255, 255, 255);
font-weight: 700;   
font-size:20px;

}
.custom-button-edit{
  font-weight: 600;
  color: rgb(36, 36, 36);
background-color: rgb(218, 203, 0, 0.76) ;
}
.custom-button-edit:hover{
  background-color:rgb(255, 238, 0) ;
  }
.custom-button-add{
  font-weight: 600;
color: rgb(36, 36, 36);
background-color: rgb(0, 150, 209, 0.76) ;
}
.custom-button-add:hover{
  background-color:rgb(0, 179, 250) ;
  }
  .custom-button-del{
    font-weight: 600;
    color: rgb(36, 36, 36);
    background-color: rgb(183, 0, 219, 0.76) ;
  }
  .custom-button-del:hover{
    background-color: rgb(212, 0, 255) ;
  }
.custom-button-arch{
  font-weight: 600;
  color: rgb(36, 36, 36);
  background-color: rgba(0, 35, 211, 0.76) ;
}
.custom-button-arch:hover{
  background-color: rgb(13, 53, 255) ;
}
@keyframes continuousColorChange {
    0% {
      color: rgb(0, 184, 255); /* Start with the initial color */
    }
    50% {
      color: rgb(0,30,255); /* Transition color (in between) */
    }
    75% {
      color: #FDF500; /* Transition color (in between) */
    }
    100% {
      color: rgb(214, 0, 255); /* End color */
    }
  }
  @keyframes continuousColorChangeBg {
    0% {
      background-color: rgb(0, 134, 187); /* Start with the initial color */
    }
    50% {
      background-color: rgba(0, 21, 182, 0.582); /* Transition color (in between) */
    }
    75% {
      background-color: #9b9600; /* Transition color (in between) */
    }
    100% {
      background-color: rgb(123, 0, 148); /* End color */
    }
  }